<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录页面</title>

  <!-- 1.重置样式 -->
  <link rel="stylesheet" href="../../static/css/normalize.css">
  <!-- 2.公共样式 -->
  <link rel="stylesheet" href="../../static/css/common.css">
  <!-- 3.当前样式 -->
  <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>
        <form action="{% url 'users:login' %}" class="" method="post">
            {% csrf_token %}

            <div class="login "><a>登录页面</a> </div>
            <div class="userName  clearfix">
                <p class="fl">用户名:</p><input type="text" class="fr" id="userName" placeholder="请输入用户名" name="username">
            </div>
            <div  class="passWord  clearfix">
                <p class="fl">密码:</p><input type="password" class="fr" id="passWord" placeholder="请输入密码" name="password">
            </div>
            <div class="button clearfix"><button type="submit" class="fr" id="button" onclick="">登录</button></div>
                <p style="color: red;text-align: center">
                  {% if login_form.errors.items %}
                      {% for key,error in login_form.errors.items %}
                          {{ error }}
                      {% endfor %}
                  {% else %}
                      {{ msg }}
                  {% endif %}
                </p>
            <div class="register fr"><a href="register.html">注册新账号</a> </div>
            <div class="register fr"><a href="reset.html">忘记密码</a> </div>
        </form>

  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>

    <script type="text/javascript">
        function f(){
            var st = document.getElementById("")
        }
    </script>
</body>

</html>
